/node_modules
/public/build
/public/hot
/public/storage
/public/media
/public/public/front-assets/portfolio
/public/public/front-assets/img
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.idea
/.vscode
/NOTE/DB